@model List<Garaaz.Models.DashboardOverview.Wallet.WalletInfoResponse>
@{
    string errorMsg = ViewBag.ErrorMsg;
    if (string.IsNullOrWhiteSpace(errorMsg) && Model == null)
    {
        errorMsg = "Model is not set";
    }
}

@if (string.IsNullOrWhiteSpace(errorMsg) && Model != null)
{
    <div class="row">
        @foreach (var walletIr in Model)
        {
            <div class="col-md-12 col-lg-4 col-xl-4">
                <a href="javascript:void(0);" onclick="dbWal.fetchWalletDetailForSubGroup('@walletIr.Category')">
                    <div class="info-box info-sub">
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4>
                                        @walletIr.DateInfo
                                    </h4>
                                    <span class="kt-widget24__title dbGreen">
                                        <span>@walletIr.TotalWalletBalance</span>
                                    </span>
                                    <span class="kt-widget24__desc">
                                        <span class="pr-1">Payout of Sales:</span> <span>@($"{walletIr.PayoutOfSalesPercentage}%")</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h4 class="kt-widget24__title" style="text-align: center;">
                            @walletIr.Footer
                        </h4>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <p class="kt-font-bold">
        <i class="kt-font-warning flaticon-warning-sign"></i>
        &nbsp;@errorMsg
    </p>
}