@model List<Garaaz.Models.DashboardOverview.Inventory.InvDetailForBranch>

@{
    const string noRecordFound = "Sorry! No record found for selected criteria";

    string errorMsg = ViewBag.ErrorMsg;
    if (string.IsNullOrWhiteSpace(errorMsg) && Model == null)
    {
        errorMsg = "Model is not set";
    }
}

@if (string.IsNullOrWhiteSpace(errorMsg) && Model != null)
{
    if (Model.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered w-auto table-center">
                <thead class="thead-light">
                    <tr>
                        <th>Sr No</th>
                        <th>Part Group</th>
                        <th>Part Category</th>
                        <th>Root Part Number</th>
                        <th>Part Number</th>
                        <th>Part Description</th>
                        <th>MRP</th>
                        <th>Avg. Consumption (3 Months)</th>
                        <th>No of Stock</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bwId in Model)
                    {
                        <tr>
                            <td>@bwId.SlNo</td>
                            <td>@bwId.PartGroup</td>
                            <td>@bwId.PartCategory</td>
                            <td>@bwId.RootPartNumber</td>
                            <td>@bwId.PartNumber</td>
                            <td>@bwId.PartDescription</td>
                            <td>@bwId.Mrp</td>
                            <td>0</td>
                            <td>@bwId.NumberOfStock</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="kt-font-bold">
            <i class="kt-font-warning flaticon-warning-sign"></i>
            &nbsp;@noRecordFound
        </p>
    }

}
else
{
    <p class="kt-font-bold">
        <i class="kt-font-warning flaticon-warning-sign"></i>
        &nbsp;@errorMsg
    </p>
}



