@model List<Garaaz.Models.DashboardOverview.Collection.ColDetail>

@{
    const string noRecordFound = "Sorry! No record found for selected criteria";

    string errorMsg = ViewBag.ErrorMsg;
    if (string.IsNullOrWhiteSpace(errorMsg) && Model == null)
    {
        errorMsg = "Model is not set";
    }
}

@if (string.IsNullOrWhiteSpace(errorMsg) && Model != null)
{
    if (Model.Count > 0)
    {
        var totalCustomers = Model.Sum(m => m.NumberOfCustomers);

        <div class="table-responsive">
            <table class="table table-bordered w-auto table-center">
                <thead class="thead-light">
                    <tr>
                        <th>Sr No</th>
                        <th>Customer Type</th>
                        <th>No of Customers</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cd in Model)
                    {
                        <tr>
                            <td>@cd.SlNo</td>
                            <td>@cd.CustomerType</td>
                            <td>@cd.NumberOfCustomers</td>
                            <td><a href="javascript:void(0);" onclick="dbCol.fetchBranchCustomers('@cd.SubGroup','@cd.CustomerType','@cd.BranchCode')">View</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b>@totalCustomers</b></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <p class="kt-font-bold">
            <i class="kt-font-warning flaticon-warning-sign"></i>
            &nbsp;@noRecordFound
        </p>
    }

}
else
{
    <p class="kt-font-bold">
        <i class="kt-font-warning flaticon-warning-sign"></i>
        &nbsp;@errorMsg
    </p>
}



