@model List<Garaaz.Models.DashboardOverview.Collection.ColInfoResponse>
@{
    string errorMsg = ViewBag.ErrorMsg;
    if (string.IsNullOrWhiteSpace(errorMsg) && Model == null)
    {
        errorMsg = "Model is not set";
    }
}

@if (string.IsNullOrWhiteSpace(errorMsg) && Model != null)
{
    <div class="row">
        @foreach (var ciResp in Model)
        {
            var collectionPercentage = $"({ciResp.CollectionPercentage}%)";

            <div class="col-md-12 col-lg-4 col-xl-4">
                <a href="javascript:void(0);" onclick="dbCol.fetchColDetailForSubGroup('@ciResp.Category')">
                    <div class="info-box info-sub">
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4>
                                        @ciResp.DateInfo
                                    </h4>
                                    <span class="kt-widget24__title dbGreen">
                                        <span class="pr-2">@ciResp.TotalCollection</span> <span class="growthPercent">@collectionPercentage</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h4 class="kt-widget24__title" style="text-align: center;">
                            @ciResp.Footer
                        </h4>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <p class="kt-font-bold">
        <i class="kt-font-warning flaticon-warning-sign"></i>
        &nbsp;@errorMsg
    </p>
}



