@model Garaaz.Models.ChangePasswordModel
@using Garaaz.Models
@{
    var Cntrl = Model != null ? Model.Controller : "";
    var Action = Model != null ? Model.Action : "";
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader-search">
        <h3 class="kt-subheader-search__title">
            Change Password
        </h3>
    </div>


    <header class="ribbon">
        <h2>&nbsp;</h2>
    </header>

    <div class="page-content">
        <div class="page-content">
            @{Html.RenderPartial("alerts");}

            <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="row">
                    <div class="col-md-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Change Password
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <div class="kt-portlet__head-wrapper">
                                        <div class="kt-portlet__head-actions">
                                            <a href="/@Cntrl/@Action" class="btn btn-brand btn-elevate btn-icon-sm">
                                                <i class="la la-step-backward"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm())
                            {
                            <div class="kt-form">
                                <div class="kt-portlet__body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>New Password</label>
                                                @Html.HiddenFor(model => model.UserId)
                                                @Html.HiddenFor(model => model.Controller)
                                                @Html.HiddenFor(model => model.Action)
                                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control required" } })
                                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control required" } })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                            }

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

