@model Garaaz.Models.CheckoutDeliveryAddressModel
@{
                /**/


                ViewBag.Title = "Checkout";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-subheader-search">
    <h3 class="kt-subheader-search__title">
        Checkout
    </h3>
</div>

<header class="ribbon">
    <h2>&nbsp;</h2>
</header>
<div class="page-content">
    @{Html.RenderPartial("alerts");}

    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Delivery Address
                            </h3>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="kt-form">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>First Name <em>*</em></label>
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Last Name <em>*</em></label>
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Mobile Number <em>*</em></label>
                                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Address <em>*</em></label>
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>State <em>*</em></label>
                                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>City <em>*</em></label>
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Pincode <em>*</em></label>
                                            @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control required" } })
                                            @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <button type="submit" class="btn btn-primary">Save and Continue</button>
                            </div>
                        </div>
                    }

                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/product.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.onload = product.ActivateAutoComplete();
        });
    </script>
}